<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          xmlns:tools="http://schemas.android.com/tools"
          package="com.example.onecomponent">

    <application
        android:name="com.mrzhang.reader.runalone.application.OneApplication"
        android:allowBackup="true"
        android:label="@string/one_app_name"
        android:supportsRtl="true"
        android:icon="@mipmap/ic_launcher"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:theme="@style/commonAppTheme"
        tools:replace="android:label">

        <activity android:name="com.mrzhang.reader.runalone.OneTestActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
    </application>

</manifest>
